.sideImage {
    position: relative;
    height: 100%;
    background: #000;
}

.sideImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/hero.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    opacity: .4;
    /* box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, .15); */
}

@media (max-width: 1280px) {
    .sideImage {
        display: none;
    }
    .backgroundImage {
        position: relative;
        height: 100%;
        background: #000;
    }
    .backgroundImage::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/hero.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: .35;
        /* box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, .15); */
    }
}