/* Title */
    @import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
    /* font-family: 'Arvo', serif; */
    @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');
    /* font-family: 'Sofia Sans Semi Condensed', sans-serif; */
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
    /* font-family: 'Merriweather', serif; */
/* Main */
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
    /* font-family: 'Noto Sans', sans-serif; */
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
    /* font-family: 'Raleway', sans-serif; */
/* Details */
    @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
    /* font-family: 'Courgette', cursive; */
    @import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
    /* font-family: 'Playball', cursive; */
    @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
    /* font-family: 'Great Vibes', cursive; */
    @import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
    /* font-family: 'Tangerine', cursive; */
    @import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
    /* font-family: 'Herr Von Muellerhoff', cursive; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #e4cb26;
    --primary2: #DDBF00;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.title-1 {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

a {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.font-detail {
    font-family: 'Courgette', cursive;
}

.image-container {
    width: 100%;
    position: relative !important;
}

.image-container .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.btn-primary {
    background: var(--primary);
    border: 2px solid transparent;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding: 0.5rem 1.5rem;
    border-radius: 0.275rem;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-primary:hover {
    background: transparent;
    border: 2px solid var(--primary);
    text-decoration: none;
}

.btn-secondary {
    border: 2px solid var(--primary);
    color: var(--primary);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding: 0.5rem 1.5rem;
    border-radius: 0.275rem;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-secondary:hover {
    background: var(--primary);
    color: white;
    text-decoration: none;
}

.swiper-button-prev {
    color: white !important;
}

.swiper-button-next {
    color: white !important;
}